# ##################################################
# ##      .GITIGNORE SIMPLES PARA PYTHON      ##
# ##################################################

# --- Ambientes Virtuais ---
# Impede o envio da pasta do ambiente virtual (venv).

\dp_ses\venv